.UdinraFacebookAqua {
    background-color: lightcyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid aqua;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookTeal {
    background-color: azure;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid teal;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookChocolate {
    background-color: bisque;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid chocolate;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookCoral {
    background-color: cornsilk;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid coral;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookGolden {
    background-color: khaki;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid darkGoldenRod;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookPink {
    background-color: MistyRose;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Pink;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookLightGreen {
    background-color: HoneyDew;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LimeGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookSeaGreen {
    background-color: LightCyan;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid LightSeaGreen;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookGrey {
    background-color: WhiteSmoke;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Grey;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookTan {
    background-color: Wheat;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Tan;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookWhite {
    background-color: White;
    align: center;
    text-align: center;
    width: 90%;
    border: 15px solid Black;
    padding: 15px;
    margin: 15px;
}
.UdinraFacebookNone {
}